$header: #;
$odd-bckgd: #;
$header-bckgd: #;
$section-header: #;

//font info
$main-font: "whatever font", Arial, sans-serif;

//nav when it gets designed
$nav-bckgd: #;
$nav-items: #;
$hamburger: #;

//font colour for letter overlay
$about-tile: #; 

//images for about us tiles
$cait-img: images/....;
$mar-img: images/....;
