//background colors
$odd-bckgd: #EBEBEB;
$section-header: #A0A0A0;
$filter: rgba(255, 255, 255, 0.5);

//font info
$main-font: "Oswald", Arial, sans-serif;
$text-color: #555;

//nav when it gets designed
$nav-bckgd: linear-gradient(rgba(160, 160, 160, 1), rgba(160,160,160,0));

//all borders
$border-radius: 7px;

//buttons
$btn-color: #fff;
$btn-border: 1px solid #555;
$btn-fontsize: 15px;
$btn-fontcolor: #A0A0A0;