 @import 'colors';
 
 *{
     padding: 0;
     margin: 0;
     font-family: $main-font;
 }

 .hide{
     display: none;
 }

 section{
    padding-bottom: 20px;
 }

section:nth-child(odd){
    background-color: $odd-bckgd;
}

.sectioncont{
    padding: 20px;
}

.sectitle{
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
}

.button{
    display: block;
    max-width: 100px;
    margin: auto;
    background-color: $btn-color;
    color: $btn-fontcolor;
    border: $btn-border;
    border-radius: $border-radius;
    font-size: $btn-fontsize;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}




//----------
//NAVIGATION
//----------

nav{
    max-width: 160px;
    margin: auto;

    ul{
        list-style-type: none;

        li{
            padding: 5px 0;
            border-bottom: 0.5px solid #555;
            text-align: center;

            a{
                font-size: 20px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}



.logo-placeholder{
    text-align: center;
    font-size: 40px;
    color: #fff;
    line-height: 250px;
}

 //----------
 //HEADER
 //----------

 header{
     height: 250px;
     background: url("../images/header-bckgd-sm.png") no-repeat;
     
     //hamburger button
    .open{
        height: 100vh !important;
    }

    .change{
        transform: rotate(90deg);
    }

     #hamburger{
         height: 25px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: fixed;
         z-index: 6;
         right: 20px;
         top: 20px;
         cursor: pointer;
         transition: 0.3s ease-out;

         .burgerline{
            width: 35px;
            height:3px;
            border: 0.5px solid #555;
            background-color: #fff;
            border-radius: 5px;
         }
     }

    //main nav
     #navigation{
         //display: none;
         position: fixed;
         z-index: 5;
         background: linear-gradient(#A0A0A0 30%, transparent 70%);
         width: 100%;
         height: 0;
         overflow: hidden;
         transition: all 0.3s ease-out;

         #mainNav{
             padding-top: 30px;
         }
     }

     //logo area
     #logo{
         margin: auto;
         width: 75%;

     }
 }




// ----------
// BUSINESS BLURB
// ----------

#welcome{
    padding: 10px 20px;

    p{
        display: block;
        padding: 25px 0px;
        font-size: 25px;
        color: #555;
        text-align: center;
    }
}




//----------
//ABOUT US
//----------

#about{

    .sectionhead{
        grid-column: 1 / -1;
        background-color: $section-header;

        .sectitle{
            color: #fff;
            text-align: center;
        }
    }

    .sectioncont{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .about{
            overflow: hidden;
            display: grid;
            grid-template-columns: inherit;

            .aboutTile{
                grid-column: 1 / -1;
                grid-row-start: 1;
                z-index: 2;
                max-width: 140px;
                display: grid;
                overflow: hidden;
                transition: all 0.4s ease-out;

                //hide on tablet
                @media #{$tablet}{
                    display: none;
                }


                .about-filter{
                    grid-column: 1 / -1;
                    grid-row-start: 1;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    background-color: $filter;
                    border-radius: $border-radius;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.4s ease-out;

                    p{
                        //color: #333;
                        letter-spacing: -1px;
                        color: #666;
                    }

                    .aboutLetter{
                        font-size: 120px;
                        color: #333;
                        line-height: 85px;
                    }
                }

                img{
                    grid-column: 1 / -1;
                    grid-row-start: 1;
                    z-index: 2;
                    z-index: 2;
                }
                

            }

            .aboutCopy{
                grid-column: 1 / -1;
                grid-row-start: 1;
                opacity: 0;

            }

        }


         //tablet
         #about-tablet{
            display: none;

            #tabletImg{
                max-width: 438px;
                overflow: hidden;
            }
        }

        #cait{
            grid-column: 1 / 2;
            grid-row-start: 1;
           
        }

        #mariah{
            grid-column: 2 / -1;
            grid-row-start: 1;
            justify-items: end;
        }


    //media queries
    @media  #{$tablet} {

            #about-tablet{
                display: block;
            }

        }

    }

}






//----------
//LATEST WORK
//----------

#latest{

    .sectitle{
        color: $text-color;
    }  

}




//----------
//PAST PROEJCTS
//----------

#past{

    .sectionhead{
        background-color: $section-header;
        color: #fff;
    }
}


.pastproject{
    margin: 20px auto;
    max-width: 200px;
    display: grid;

    img{
        grid-column: 1 / -1;
        grid-row-start: 1;
        max-width: 100%;
    }

    .projInfo{
        grid-column: 1 / -1;
        grid-row-start: 1;
        z-index: 2;
        align-self: end;
        text-align: center;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.5);
        color: $text-color;
       
    }
}




//----------
//FOOTER
//----------

footer{
    background-color: $section-header;

    #copyright{
        text-align: center;
        color: #fff;
        font-size: 12px;
        padding: 40px 0;
    }
}




